/*Nulstilling af siden*/
* {
  box-sizing: border-box;
  margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}
/*--------------------------------------*/

/*Genrelle indstillinger på siden*/

main {
  background-color: #eaf5ff;
}

/*--------------------------------------*/

/*Indstilling for Font*/

h1 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  color: #a3035b;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 35px;
}

h3 {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #011640;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #011640;
}
/*--------------------------------------*/

/*Nav bar/burger menu*/
.fa.fa-bars {
  font-size: 2rem;
  color: #fffe9a;
  margin-left: 1rem;
  margin-top: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #b6d6f2;
}

.navbar #navLinks {
  display: none;
}

#navLinks {
  display: flex;
  align-content: center;
  gap: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  list-style: none;
  margin-right: 1rem;
  margin-top: 1.3rem;
}

.navbar a {
  text-decoration: none;
  color: #fffe9a;
}
/*--------------------------------------*/

/*animation til forsiden*/
.rotate {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*--------------------------------------*/

/*Frontpage*/
#frontpage {
  background-color: #b6d6f2;
  height: 45rem;
}

#frontpage_txt {
  position: absolute;
  top: 15%;
  width: 100%;
}

#frontpage_logo {
  position: absolute;
  width: 60%;
  top: 27%;
  left: 19%;
}
/*--------------------------------------*/

/*Portfolio oversigt*/

.portfolio_section_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio_img_1 {
  grid-column: 1/2;
}

.portfolio_txt_1 {
  grid-column: 2/3;
  background-color: #dbedfc;
}

.portfolio_section_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio_img_2 {
  grid-column: 2/3;
}

.portfolio_txt_2 {
  grid-column: 1/2;
  background-color: #dbedfc;
}

.portfolio_header {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}
/*--------------------------------------*/

/*@media*/

@media (min-width: 600px) {
  .fa.fa-bars {
    font-size: 2rem;
  }

  #navLinks {
    font-size: 22px;
    gap: 2rem;
  }

  #frontpage {
    height: 55rem;
  }

  #frontpage_txt {
    top: 5%;
    width: 90%;
    left: 5%;
  }

  #frontpage_logo {
    width: 60%;
    top: 17%;
    left: 19%;
  }
}
/*---------------------------*/

@media (min-width: 800px) {
  #frontpage_txt {
    width: 80%;
    left: 10%;
  }

  #frontpage_logo {
    width: 50%;
    top: 20%;
    left: 25%;
  }
}
/*---------------------------*/

@media (min-width: 1000px) {
  .fa.fa-bars {
    font-size: 2.5rem;
    margin-left: 2rem;
  }

  #navLinks {
    font-size: 25px;
    margin-right: 2rem;
  }

  #frontpage_txt {
    width: 60%;
    left: 20%;
    top: 3%;
  }

  #frontpage_logo {
    width: 40%;
    top: 16%;
    left: 30%;
  }
}
/*---------------------------*/

@media (min-width: 1200px) {
  .fa.fa-bars {
    font-size: 2.7rem;
  }

  #navLinks {
    font-size: 30px;
    gap: 3rem;
  }

  #frontpage_txt {
    top: 0%;
  }
}
/*--------------------------------------*/
